<style>
    .footer {
  background-color: #f2f2f2;
  padding: 10px 0;
  text-align: center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__language {
  font-size: 12px;
  color: #000000;
}

.footer__copyright {
  font-size: 12px;
  color: #000000;
}

.footer__links {
  font-size: 12px;
  color: #000000;
}

.footer__links a {
  text-decoration: none;
  margin-right: 10px;
}

</style>
<footer class="footer">
  <div class="footer__inner">
    <div class="footer__language">
      <span>English (IN) INR</span>
    </div>
    <div class="footer__copyright">
      <span>© 2024 Airbnb, Inc.</span>
    </div>
    <div class="footer__links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Sitemap</a>
      <a href="#">Company details</a>
    </div>
  </div>
</footer>
